{% extends 'ojapp/basic.html' %}
{% block title %} Home {% endblock %}


{% block body %}
<div class="container my-5">
	<ul class="list-group">
	  <li class="list-group-item">Newly Added Problems</li>
	  {% for problem in problems|slice:":10" %}
	  	<li class="list-group-item list-group-item-action list-group-item-primary">
	        <a href="{% url 'show_problem' id=problem.id %}">{{ problem.number }}: {{ problem.title }}</a>
	        <a href="{% url 'show_problem' id=problem.id %}" class="float-right">Solve</a></li>
	  {% endfor %}
	</ul>

</div>

{% endblock %}