{% extends 'ojapp/basic.html' %}
{% load static %}
{% block title %} Problem {% endblock %}

{% block css %}
	.soft-border-div {
	    border: 1px solid #e0e0e0; /* Border color */
	    border-radius: 8px; /* Border radius for a rounded look */
	    padding: 20px; /* Optional padding to create some space inside the div */
	    background-color: #f7f7f7; /* Optional background color */
	    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Soft box shadow */
	    width: 610px;
	}
    ul {
        list-style-type: square; /* Change to 'circle' or 'disc' for different styles */
    }
    .scrollbar {
	  margin-left: 10px;
	  float: left;
	  height: 690px;
	  width: 622px;
	  background: #fff;
	  overflow-y: scroll;
	  margin-bottom: 25px;
	}
	.force-overflow {
	  min-height: 450px;
	}

	.scrollbar-primary::-webkit-scrollbar {
	  width: 12px;
	  background-color: #F5F5F5;
	}

	.scrollbar-primary::-webkit-scrollbar-thumb {
	  border-radius: 10px;
	  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	  background-color: #7fb5eb;
	}

	.scrollbar-primary {
	  scrollbar-color: #4285F4 #F5F5F5;
	}


	h3.question {
	  font-family: "Roboto", sans-serif;
	  font-size: 24px;
	  text-align: center;
	  font-weight: 100;
	}

	.editor-container {
	  width: 865px;
	  height: 540px;
	  position: relative;
	}

	#editor {
	  position: absolute;
	  left: 0;
	  right: 0;
	  top: 0;
	  bottom: 0;
	  height: 100%;
	  width: 100%;
	  font-size: 20px;
	}
	
{% endblock %}

{% block body %}
<div>
	<div class="row">
		<div class="col-md-6">
			
			<h5>_#_:{{ problem.title }}</h5>
		</div>
		<div class="col-md-6">
			<div class="control-panel float-right mx-2 my-1">
				Select Language
				&nbsp; &nbsp;
				<select id="languages" class="languages" onchange="changeLanguage()">
					<option value="c">C</option>
					<option value="cpp">C++</option>
					<option value="python">Python</option>
					<option value="java">Java</option>
					<option value="javascript">JavaScript</option>
					<option value="ruby">Ruby</option>
					
				</select>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid mx-0">
	<div class="row">
		<div class="col-md-6" style="max-width: 42%;">
			<div class="my-1 scrollbar scrollbar-primary">
				<div class="force-overflow">
						<div class="soft-border-div">
							<div class="container">
								<b>Statement: </b>{{ problem.safe_statement|safe }}
							</div>
						</div>
						<div class="soft-border-div">
							<div class="container">
								<b>Constraints:</b>{{ problem.safe_constraints|safe }}
							</div>
						</div>
						<div class="soft-border-div">
							<b>Example:</b><br>
							<div class="container">
								<h6>Input:</h6>
								{{ problem.safe_input|safe }}
							</div><br>
							<div class="container">
								<h6>Output:</h6>
								{{ problem.safe_output|safe }}
							</div><br>
							<div class="container">
								<h6>Explaination:</h6>
								{{ problem.example_explain }}
							</div>
						</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<form action="{% url 'verdict' problem.id %}" method="POST">
				{% csrf_token %}
				<div>
				    <div class="editor-container">
				      <div id="editor">// Write your code here</div>
				    </div>
				</div>
				<button type="button" class="btn btn-secondary my-2">Custom Input</button>
				<button type="button" class="btn btn-secondary my-2" onclick="executeCode()">Run</button>
				<button id="submit" type="submit" class="btn btn-success my-2">Submit</button>
			</form>
		</div>
	</div>
</div>


{% endblock %}